<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-centered">
      <article>
        <h1><%= @article.title %>
          <small>
            <%= link_to edit_article_path(@article) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to article_path(@article), method: 'delete', data: { confirm: "Are you sure you want to delete #{@article.title}?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </small>
        </h1>
      <p><%= @article.content %></p>
      </article>
    </div>
  </div>

</div>

